<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>LOG in </title>
</head>

<body>
<div  th:replace="header :: header"></div>
<h2 class="h3 mb-3 font-weight-normal text-center">Log in:</h2>
<div class="form-group col-md-2 offset-md-5 p-0 mb-1 bg-light text-dark">
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
</div>
<form th:action="@{/login}" method="post">
    <div class="form-group col-md-2 offset-md-5 p-0 mb-1 bg-light text-dark">
        <label  class="sr-only"> User Name :</label>
        <input class="form-control" type="text" name="username" placeholder="Userame"/>
    </div>
    <div class="form-group col-md-2 offset-md-5 p-0 mb-1 bg-light text-dark">
        <label  class="sr-only"> Password: </label>
        <input class="form-control" type="password" name="password" placeholder="Password"/></div>
    <div><input class="btn btn-primary col-md-2 offset-md-5" type="submit" value="Sign In"/></div>
</form>

<div th:replace="footer :: footer"></div>

</body>
</html>